.wrapper {
  margin: auto;
  width: 90%;
  border-radius: 200px;
}
.part {
  font-family: Courier, monospace;
  border-radius: 10px;
}
#num {
  text-decoration: none;
  text-emphasis: "x";
  -webkit-text-emphasis: "x";
}
