@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Press+Start+2P&display=swap");

.delete {
  margin: 5px 5px;
  background-color: lightcoral;
  border-radius: 5px;
}

.quantity {
  margin: 5px 5px;
  width: 50px;
}
.subtotal {
  text-decoration: slategrey underline;
}

.tax {
  color: rgb(90, 92, 149);
  text-decoration: slategrey underline;
}

.total {
  text-decoration: slategrey underline;
}

button {
  width: 100px;
  background-color: greenyellow;
}
.delete:active {
  inset: 23px;
}
