<div [ngStyle]="{'background-color':getColor(product)}" class="product-parent">
    <div class="title">

        <div *ngIf="activeUser.admin" class="delete"><button (click)="deletePart(product)"
                style="width: 60px; color: darkblue;background-color: crimson;">DELETE PART</button></div>


    </div>
    <div> Seller: {{product.PrimaryVendor}}</div>
    <div>Part Name: {{product.partName}}</div>
    <div class="photo_section" style="background-image:url({{product.img}}); height: 180px; width: 200px;">


    </div>

    <div class="product_foot">

        <br>

        <div class="buy" (click)="addItem(product)">Add To Cart</div>

        <p class="price">Sale {{product.price| currency}}</p>

    </div>
</div>