@import url("https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Press+Start+2P&display=swap");

.product-parent {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 9px;
  padding: 2.9em;
  border-radius: 0.5em;
  font-size: smaller;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, 0.1);
  opacity: 0.97;
  font-family: "Press Start 2P";
}

.product-parent:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(10, 37, 97, 0.22);
  opacity: 0.99;
  cursor: pointer;
}
.buy {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  background-color: rgba(198, 136, 198, 0.769);
  background: linear-gradient(
    0deg,
    rgba(138, 74, 241, 0.829) 0%,
    rgba(134, 28, 226, 0.83) 100%
  );
  border: none;
}

.buy:before {
  height: 0%;
  width: 2px;
}
.buy:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.buy:active {
  transform: scale(0.9) translate(-1%, -1%);
}

.delete {
  background-color: red;
  height: 25px;
  width: 25px;
}
