

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* .root{
 margin-left: auto;
 margin-right: auto;
} */

table,
td {font-family: 'Cutive Mono', monospace;
    border: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
}

.cancel{
    margin-left: auto;
    margin-right: auto;
}

.delete{
    margin: 5px 5px;
    background-color: lightcoral;
    border-radius: 5px;
}

.quantity{
    margin: 5px 5px;
    width: 50px;
}
.tax{
    color: darkorchid;
}