<div class="root">
    <a routerLink="">
        <div class="shop">Continue Shopping</div>
    </a>
    <div *ngFor="let item of cart">

        <p>Item: {{item.partName}}
            {{item.price | currency}}
        </p>
        <input type="number" min="1" class="quantity" [(ngModel)]="item.quantity"
            (ngModelChange)="changeQuantity(item)" />
        <button type="button" class="delete" (click)="removeItem(item)">Remove</button>

    </div>

    <table>
        <tr>
            <td>Subtotal </td>
            <td>{{subtotal | currency}}</td>
        </tr>
        <tr>
            <td class="tax">Tax </td>
            <td>{{subtotal * .06 | currency}}</td>
        </tr>
        <tr>
            <th>Subtotal </th>
            <td>{{totalPrice | currency}}</td>
        </tr>
    </table>


    <button type="button" (click)="buyAll(activeUser.id,totalPrice)">Confirm Purchase</button>
</div>