@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

.wrapper {
  margin: auto;
  width: 70%;
  border: 1px solid rgba(116, 156, 189, 0.699);
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.cancel {
  margin-left: auto;
  margin-right: auto;
}

.delete {
  background-color: lightcoral;
  font-size: x-large;
  box-shadow: 1px 1px 2px #bbbbbb;
  &:active {
    box-shadow: 5px 5px 2px #bbbbbb;
    background-color: palevioletred;
  }
  &:hover {
    cursor: pointer;
  }
}

.quantity {
  margin: 5px 1px 1px 1px;
  width: 75px;
  font-size: x-large;
}
.tax {
  color: darkorchid;
}
.totalPrice {
  display: grid;
}

button {
  width: 100px;
  background-color: greenyellow;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 30px;
}

.continue {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.3em 2em;
  border-radius: 0.5em;
  background-color: rgba(198, 136, 198, 0.769);
  background: linear-gradient(
    0deg,
    rgba(149, 90, 244, 0.927) 0%,
    rgba(141, 67, 205, 0.756) 100%
  );
}

.continue:before {
  height: 0%;
  width: 2px;
}
.continue:hover {
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
    -1px -1px 1px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.continue:active {
  transform: scale(0.9) translate(-1%, -1%);
}
// buy
.buy {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.3em 2em;
  border-radius: 0.5em;
  background-color: rgba(19, 174, 146, 0.769);
  background: linear-gradient(
    0deg,
    rgba(40, 140, 90, 0.829) 0%,
    rgba(127, 230, 24, 0.83) 100%
  );
}

.buy:before {
  height: 0%;
  width: 2px;
}
.buy:hover {
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
    -1px -1px 1px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  &:active {
    transform: scale(0.9) translate(-1%, -1%);
  }
}

.delete:hover {
  box-shadow: 1px 1px 1px 0 rgba(121, 80, 80, 0.5),
    -1px -1px 1px 0 rgba(204, 144, 112, 0.5),
    inset -2px -2px 2px 0 rgba(255, 255, 255, 0.2),
    inset 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.root {
  width: calc(100% - 400px) !important;
  margin-left: auto;
}

.nada {
  margin: 20px;
  font-family: "Press Start 2P";
  opacity: 0.87;
  font-size: larger;
  text-decoration: none;

  & a {
    border-radius: 23px;
    padding: 20px;
    background-color: rgb(32, 154, 170);
    box-shadow: 3px 1px 3px #026999;
    &:active {
      background-color: rgba(0, 197, 247, 0.959);
    }
    &:hover {
      cursor: pointer;
      transform: scale(0.5) translate(-100%, -100%);
      opacity: 0.99;
      box-shadow: 3px 3px 2px #bbbbbb;
    }
  }
  &:before {
    position: relative;
    bottom: -100px;
    content: "Nothing In your CART!";
    font-size: xx-large;
  }
}
