<div class="root">
    <button *ngIf="!activeUser" (click)="toLogin()">Please Sign In to Shop</button>
    <div *ngIf="activeUser">
        
    <div class="nav">
        <h1 class="firstName">Welcome {{activeUser.firstName}}!</h1>
        <div class="home">
            <a routerLink="/">
                <img tabindex="1" src="../../../assets/images/home-icon.png" width="40" height="40">
            </a>
        </div>
        <a routerLink="search"><img tabindex="2" src="../../../assets/images/searchegg.png" class="search" width="40"
                height="40"></a>

        <a routerLink="/pastOrders"><img tabindex="3" src="../../../assets/images/historyhead.png" width="40"
                height="40"></a>
        <img src="../../../assets/images/logout-2432055-2058929.png" *ngIf="activeUser" (click)="logout()" width="40"
            height="40"><br>
        
        <a routerLink="/cart">
            <img tabindex="4" src="../../../assets/images/cart.png" width="40" height="40">
        </a>
    </div></div>

    <div class="router-parent">
        <router-outlet></router-outlet>
    </div>

</div>