@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.root {
  /* background: rgb(214,242,236); */
  /* background: radial-gradient(circle, rgba(214,242,236,0) 0%, rgba(214,242,236,0.2007177871148459) 0%); */
  /* background: rgb(214, 242, 236); */
  background-image: linear-gradient(
    rgba(131, 196, 203, 0.407) 10%,
    rgba(95, 187, 167, 0.318) 20%,
    rgba(138, 160, 155, 0.489) 40%,
    rgba(96, 142, 132, 0.393) 50%,
    rgba(142, 196, 184, 0.2) 60%,
    rgba(142, 196, 184, 0.2) 70%,
    rgba(142, 196, 184, 0.2) 80%,
    rgba(214, 242, 236, 0.2) 90%,
    rgba(214, 242, 236, 0.1) 94%
  );

  font-size: x-large;
  display: flexbox;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 4.5em;
  font-family: "Playfair Display SC", serif;
}

.firstName:first-of-type {
  text-transform: capitalize;
  font-family: "Playfair Display SC", serif;
}

/* router parent is 11 because 2 + 9 = 11 */
.router-parent {
  // margin: 2em 0;
  overflow: auto;
  height: calc(100% - 9em);
}

/* nav bar styles */

.drop__item {
  display: inline-block;
  font-family: "Playfair Display SC", serif;
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 20px 15px;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  margin: 5px 3px 10px 30px;
  font-size: x-large;
  text-decoration: none;
  color: rgb(0, 52, 98);
  border: solid black 1px;
}

.dropbtn {
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  padding: 20px;
  cursor: pointer;
  border-radius: 0px 0px 10px 0px;
  background-image: url("../../../assets/images/charleston.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  width: 400px;
  font: bolder;
  text-shadow: 1px 1px 3px rgb(255, 255, 255), 1px 1px 4px rgb(255, 136, 136),
    -1px -1px 3px rgb(255, 255, 255) -1px -1px 3px rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #53e8ead8;
  box-shadow: 0 5px #666;
  &:active {
    box-shadow: 3px 3px 2px #00cfeb;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav {
  width: 40%;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 100px;
    font-size: 1px;
  }
  .dropdown-content {
    width: 100px;
    font-size: 1px;
    color: aliceblue;
    background-color: white;
  }

  .dropbtn {
    width: 100px;
    font-size: 1px;
    color: aliceblue;
  }

  .root {
    display: flex;
    align-items: center;
  }

  .drop__item {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100px;
    font-size: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: solid black 1px;
    justify-content: flex-start;
    padding: 20px 40px 20px 10px;
  }
}

.link {
  text-transform: uppercase;
  justify-content: start;
  box-shadow: 10px 10px 10px #111;
  text-align: start;
  top: 0px;
  position: relative;
  max-width: 10em;
  border-radius: 3px;
  margin: 0.5em;
  overflow: hidden;
  opacity: 0.8;
  height: 30px;
  border-radius: 3px;
}
.link:hover {
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1);
  color: azure;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  opacity: 0.999;
}
.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 30px;
  background: rgba(0, 0, 0, 0.51);
  height: 32px;
  width: 32px;
  transform-origin: 50% 50%;
  transition: 0.01s ease-in-out;
}
.link:hover:before {
  position: left;
  transform: scale(33);
  transition: all 0.2s ease-in-out;
}
