@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
* {
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display SC", serif;
}
.root {
  /* background: rgb(214,242,236); */
  /* background: radial-gradient(circle, rgba(214,242,236,0) 0%, rgba(214,242,236,0.2007177871148459) 0%); */
  /* background: rgb(214, 242, 236); */
  background-image: linear-gradient(
    rgba(131, 196, 203, 0.407) 10%,
    rgba(95, 187, 167, 0.318) 20%,
    rgba(138, 160, 155, 0.489) 40%,
    rgba(96, 142, 132, 0.393) 50%,
    rgba(142, 196, 184, 0.2) 60%,
    rgba(142, 196, 184, 0.2) 70%,
    rgba(142, 196, 184, 0.2) 80%,
    rgba(214, 242, 236, 0.2) 90%,
    rgba(214, 242, 236, 0.1) 94%
  );

  font-size: x-large;
  display: flexbox;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 4.5em;
}

.firstName:first-of-type {
  text-transform: capitalize;
}

/* router parent is 11 because 2 + 9 = 11 */
.router-parent {
  // margin: 2em 0;
  overflow: auto;
  height: calc(100% - 9em);
}

/* nav bar styles */

.drop__item {
  display: inline-block;
  font-family: fantasy;
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 20px 15px;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  margin: 5px 3px 10px 30px;
  font-size: x-large;
  text-decoration: none;
  color: rgb(0, 52, 98);
  border: solid black 1px;
}

.dropbtn {
  background-repeat: no-repeat;
  color: rgb(187, 255, 0);
  padding: 20px;
  cursor: pointer;
  border-radius: 0px 0px 10px 0px;
  background-image: url("../../../assets/images/charleston.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  width: 400px;
  font: bolder;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  // background-color: aliceblue;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #53e8ead8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: rotate(0.02sturn);
  &:active {
    box-shadow: 3px 3px 2px #00cfeb;
    transform: translateY(4px);
    transform: rotate(0.01turn);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav {
  width: 40%;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 100px;
    font-size: 1px;
  }
  .dropdown-content {
    width: 100px;
    font-size: 1px;
    color: aliceblue;
    background-color: white;
  }

  .dropbtn {
    width: 100px;
    font-size: 1px;
    color: aliceblue;
  }

  .root {
    display: flex;
    align-items: center;
  }

  .drop__item {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100px;
    font-size: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: solid black 1px;
  }
}
