@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.root {
  background: rgb(214, 242, 236);
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  height: 100vh;
  display: flexbox;
  align-items: center;
  justify-content: space-evenly;
}

.firstName:first-of-type {
  text-transform: capitalize;
  
}
.nav {
  height: 2.5em;
  background-color: rgb(255, 255, 255);
  text-align: center;
  background-image: url(../../../assets/images/charleston.png) stretch;

}

/* router parent is 11 because 2 + 9 = 11 */
.router-parent {
  margin: 1em 0;
  overflow: auto;
  height: calc(100% - 9em);
}

.past-orders {
  background-image: url(../../../assets/images/download.png);
}
