<div class="root">
    <div class="p-orders-head">Past Orders</div>

    <div *ngFor="let order of orders">
        <table style="width: 100vw;">
            <tr>
                <th>Order Id</th>
                <th>Total Price</th>
                <th>Date Placed</th>
            </tr>
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.totalPrice | currency}}</td>
                <td>{{order.datePlaced | date:'shortDate'}}</td>
            </tr>
        </table>
    </div>

</div>