

.wrapper{
 border-radius: 20px;
}
.order{
 
  font-size: smaller;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, .1);
  background-color: rgba(255, 255, 255, 0.852);
  margin-bottom: 9px;
}
details > summary {
  padding: 4px;
  width: 300px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
.root {
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
