<div class="root">

    <h2 *ngIf="orders.length == 0">You have no past orders</h2>

    <div class="list">
        <div class="wrapper">
            <div *ngFor="let order of orders">

                <br>

                <body class="order">
                    <details>

                        <summary>Order #{{order.id}}<br>Date {{order.datePlaced | date:'shortDate'}}
                       
                            <p>Total Price<br>{{order.totalPrice | currency}}<br>
                        </summary>
                       
<app-order-details [order]="order.id"></app-order-details>

                    </details>
                </body>
            </div>
        </div>
    </div>
</div>