<p>edit-user-form works!</p>
<div class="container" style="max-width: 500px;">
    <h3 class="mb-3 mt-5 text-center">Update User</h3>
  
    <div class="form-group">
      <input type="text"  class="form-control" placeholder="Name">
    </div>
  
    <div class="form-group">
      <input type="text"  class="form-control" placeholder="Email">
    </div>
  
    <div class="form-group">
      <input type="text"  class="form-control" placeholder="Phone">
    </div>
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateUser()">Update User</button>
    </div>  
</div>