<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <h2 id="top">Login</h2>

    <div class="container">
        <label for="email"><b>Email:</b></label>
        <input type="email" placeholder="Enter Email" name="email" required [(ngModel)]="email"><br>

        <label for="password"><b>Password:</b></label>

        <input type="password" placeholder="password" [(ngModel)]="password" name="password" id="login" required>
        <i class="fa fa-eye" aria-hidden="true" (click)="showPass()"></i>
        <input type="submit" value="Login" class="subbutton" [disabled]="!itemForm.valid">

        <div class="content-footer">
            By clicking "Login" button, you agree to these
            <a routerLink="/terms">
                <strong>TERMS and CONDITIONS.</strong></a>
            <hr>
            <p id="sign">No Account? <a routerLink="/sign">
                    Sign Up</a>
        </div>

    </div>


</form>