/* You can add global styles to this file, and also import other style files */
:root{

--rich-black: hsla(197, 100%, 5%, 1);
--blue-sap: hsla(190, 100%, 23%, 1);
--green: hsla(181, 88%, 31%, 1);
--blue-green: rgb(147, 210, 189);
--medium: hsla(45, 60%, 78%, 1);
--gam: hsla(39, 100%, 47%, 1);
--orange: hsla(30, 98%, 40%, 1);
--mahogany: hsla(19, 97%, 37%, 1);
--rufous: hsla(5, 81%, 38%, 1);
--red: hsla(358, 64%, 37%, 1);

};
