
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root{

--rich-black: hsla(197, 100%, 5%, 1);
--blue-sap: hsla(190, 100%, 23%, 1);
--green: hsla(181, 88%, 31%, 1);
--blue-green: rgb(147, 210, 189);
--medium: hsla(45, 60%, 78%, 1);
--gam: hsla(39, 100%, 47%, 1);
--orange: hsla(30, 98%, 40%, 1);
--mahogany: hsla(19, 97%, 37%, 1);
--rufous: hsla(5, 81%, 38%, 1);
--red: hsla(358, 64%, 37%, 1);
--font: 'Cutive Mono', monospace;

};
.firstName:first-of-type {
    text-transform: capitalize;
  }

  .top {
    background-image: url("../../../../../assets/images/charlestonEdit.jpeg");
    background-position: center;
    height: 100vh;
  }