.root {
  
  
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  
  background-color: rgb(255, 255, 255);
  width: 200px;
  /* display: flex;
  flex-direction: row; */
  text-align: center;
}
.title__section {
  font-size: larger;
}
.title {
  font-size: small;
}

.product__colors {
  color: teal;
}
button {
  height: 40px;
  padding: 5px 10px;
  width: 150px;
  background: #f7f7f7;
  color: #424aa4;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Baloo 2", cursive;
  cursor: pointer;
}
button i {
  padding: 5px;
}
button:hover {
  background-color: darkolivegreen;
  color: darkorange;
  font-family: system-ui;
}
.product-card:onhover {
  
  background-color: rgb(63, 0, 118);
  width: 200px;

  text-align: center;
  cursor: pointer;
}
