.root {
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.99) 5%,
    rgba(255, 255, 255, 0.98) 10%,
    rgba(192, 225, 226, 0.97) 30%,
  
    rgba(227, 238, 238, 0.95) 50%,
    rgba(225, 246, 249, 0.93) 60%,
    rgba(246, 253, 254, 0.92) 70%,
    rgba(255, 255, 255, 0.91) 85%,
    rgba(255, 255, 255, 0.89) 90%,
    rgba(255, 255, 255, 0.88) 94%
  );

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title__section {
  font-size: larger;
  height: 200px;
}
.title {border: solid black 1px;
  font-size: medium;
  background-color: cornsilk;
}



.product-parent {
  background-color: rgb(255, 255, 255);
  width: 200px;
  text-align: center;
  margin: 5px;
  padding: 0.5em;
  border-radius: 0.5em;
  border: solid rgba(86, 54, 95, 0.247) 2px;
  font-size: smaller;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, .1);
  opacity: .85;
  
}



.product-parent:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(10, 37, 97, 0.22);
    opacity: .99;
    cursor: pointer;
}

.buy {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  background-color: rgba(198, 136, 198, 0.769);
  background: linear-gradient(
    0deg,
    rgba(138, 74, 241, 0.829) 0%,
    rgba(134, 28, 226, 0.83) 100%
  );
  border: none;
}

.buy:before {
  height: 0%;
  width: 2px;
}
.buy:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.buy:active {
  transform: scale(0.9) translate(-1%, -1%);
}

.delete{
  background-color: red;
  height: 25px;
  width: 25px;
}





