<div class="root">
    <div class="list">

        <div *ngFor="let product of products" class="product-parent">
            <div class="title__section">The Part
                <div class="title">Details
                    <div>{{product.partName}}</div>
                    <div>{{product.PrimaryVendor}}</div>
                </div>

            </div>

            <div class="product__colors">
                <p>{{product.color}}</p>

            </div>
            <div class="product_foot">
                <p class="price">{{product.price}}.00</p>
                <a routerLink="/cartPage">
                    <img src="../../../assets//images/72-720639_cart-icon-in-png-transparent-png.png">
                    <div class="buy" (click)="addItem(product)">Add To Cart</div>
                </a>
            </div>
        </div>
    </div>
</div>