<div class="root">
  <section class="container">
    <div class="container__heading">

      <h2>Low Country Parts Store</h2>
      <h3>Terms & Conditions</h3>
    </div>
    <div class="container__content">
      <p>By using the Services, you agree to these terms, the policies in our Privacy Centre and any community
        guidelines and supplemental terms provided for you for the Services that you use (collectively, “Terms”). Please
        read the Terms carefully, as they form your entire agreement with us. </p>
      <p>You will be refered to as the User. Parts Store will be refered to as Low Country Parts Store. Our terms are
        final and binding agreement between YOU and PARTS STORE. </p>
      <p>PARTS STORE reserves the right modify these terms with no notice. In fact there is a good chance these terms
        are already out dated.</p>
      <p>In the event of extreme circumstances (certified by the United States Centers for Disease Control or successor
        body) of a widespread viral infection transmitted via bites or contact with bodily fluids that causes human
        corpses to reanimate and seek to consume living human flesh, blood, brain or nerve tissue and is likely to
        result in the fall of organized civilization. </p>
      <p>Our parts can will likely not perform under such circumstances, furthur more no refunds or exchanges will be
        provided.Rember you agreed to this.</p>
      <p>The user will agree to being held resposnible for our actions, including being a giant human centipede. It is
        strongly advised not to agree to these TERMS and CONDITIONS. </p>
      <p>You also agree that you will not use these products for any purposes prohibited by United States law,
        including, without limitation, the development, design, manufacture, or production of nuclear, missile, or
        chemical or biological weapons</p>
      <p>Additionally, the User agrees with us and our conditions, we can change these terms at any time.These changes
        may or may NOT be published. In fact we Low Country Parts Store, reserves the right to bill Users for solicited
        and unsubscribed services. service of getting to read these Terms and Conditions. </p>
      <p>PRIVACY and USER DATA</p>
      <p>All data belongs to us, USER submited data such as Email Adress and all confidential data will be sold to the
        highest bidder.</p>
    </div>
    <div class="container__footer">
      <small>By clicking 'Accept' you are agreeing to our terms and conditions.</small>
      <p (click)="goToList()" routerLink="list" class="button big">
        Accept
      </p>
    </div>
  </section>
</div>